*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: arial, sans-serif;
}

body {
    background-image: url('img/2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: grey;
    text-align: center;
    padding: 2rem;
}

header {
    background-color: rgba(27, 90, 15, 0.92);
    color: white;
    padding: 2rem 1rem;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1.0);
    border-radius: 0 0 10px 10px;
}

p {
    font-size: 2.8rem;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 0.5rem;
    color: rgb(240, 31, 31);
}

h1 {
    font-size: 5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(130, 209, 3);
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: rgb(130, 209, 3);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h3 {
    font-size: 7rem;
    font-family: 'Times New Roman';
    color: rgb(130, 209, 3);
}

h4 {
    font-size: 1.6rem;
    margin-top: 0.5rem;
    color: white;
}

h5 {
    font-size: 1.6rem;
    margin-top: 0.5rem;
    color: white;
}

label {
    display: block;
    text-align: left;
    margin-bottom: 0.5rem;
    font-weight: bold;
    font-size: 1.6rem;
    color: rgb(130, 209, 3);
}

section {
    background-color: rgba(0, 0, 0, 0.60);
    backdrop-filter: blur(4px);
    text-align: center;
    width: 90%;
    max-width: 500px;
    margin: 2rem auto;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    color: white;
}

.textarea {
    min-height: 100px;
    height: 150px;
    resize: vertical;
    overflow-y: auto;
    line-height: 1.4;
    font-family:Arial, Helvetica, sans-serif;
}

.campos {
    width: 100%;
    padding: 1rem;
    font-size: 1.6rem;
    margin-bottom: 2rem;
    border-radius: 5px;
    border: 1px solid grey;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 1);
    transition: border-color 0.3s;
    color: black;
}

.campos:focus {
    border-color: rgba(27, 90, 15, 0.92);
    outline: none;
}

.campos2 {
    width: 100%;
    padding: 4rem;
    font-size: 1.6rem;
    margin-bottom: 2rem;
    border-radius: 5px;
    border: 1px solid grey;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 1);
    transition: border-color 0.3s;
}

.campos2:focus {
    border-color: rgba(27, 90, 15, 0.92);
    outline: none;
}

.botao {
    width: 100%;
    max-width: 200px;
    background-color: rgb(27, 90, 15);
    color: rgb(130, 209, 3);
    font-weight: bold;
    font-size: 1.8rem;
    padding: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.botao:hover{
    background-color: rgb(36, 36, 36);
    color: rgb(130, 209, 3);
}

footer {
    background-color: rgba(27, 90, 15, 0.92);
    color: rgb(130, 209, 3);
    padding: 2rem 1rem;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1.0);
    margin-top: 4rem;
    border-radius: 10px 10px 0 0;
}

footer p {
    margin: 0.5rem 0;
    font-size: 1.4rem;
}

.menu {
    margin-top: 1rem;
}

.menu a {
    color: white;
    text-decoration: none;
    margin: 0 1rem;
    font-weight: bold;
    font-size: 2rem;
    transition: color .3s;
}

.menu a:hover {
    color: rgb(157, 255, 0);
}

.tabela-usuarios {
    width: 100%;
    margin-top: 2rem;
    border-collapse: collapse;
}

.tabela-cabecalho {
    background-color: rgba(27, 90, 15, 0.92);
    color: white;    
}

.tabela-usuarios th, .tabela-usuarios td {
    padding: 1rem;
    border: 1px solid #ccc;
    text-align: left;
    font-size: 1.5rem;
}

.botao-voltar {
    display: inline-block;
    margin-top: 2rem;
    padding: 1rem 2rem;
    background-color: rgba(27, 90, 15, 0.92);
    color: white;
    font-weight: bold;
    font-size: 1.6rem;
    border-radius: 1.6rem;
    text-decoration: none;
    transition: background-color 0.3s;
}

.botao-voltar:hover {
    background-color: rgb(36, 36, 36);
    color: rgb(130, 209, 3);
}

@media (max-width: 600px) {
    .botao, input.campos {
        width: 100%;
    }

    label {
        font-size: 1.5rem;
    }
}

.imagens {
    width: 40rem;               /* ajuste conforme o tamanho desejado */
    height: auto;
    border-radius: 8px;         /* opcional: cantos arredondados */
}

.imagens-personagem {
    width: 30rem;               /* ajuste conforme o tamanho desejado */
    height: auto;
    border-radius: 8px;         /* opcional: cantos arredondados */
}

.section2 {
    background-color: rgba(0, 0, 0, 0.60);
    backdrop-filter: blur(4px);
    text-align: center;
    width: 30%;
    max-width: 500px;
    margin: 2rem auto;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    color: white;
}
